# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
*       @AugustoDeveloper

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches csharp files, only these owners
# will be requested to review.
# *.cs    @AugustoDeveloper

# You can also use email addresses if you prefer.
# docs/*  developer.augustocesar@gmail.com
